
/*********Header********/
.wallpaper{
    background-image: url("../img/wallpaperflare.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header div div ul li a{
    transition: 01s ease-in-out;
    font-weight: 500;

}

header div div ul li a:hover{
    background-color: #01355D;
    transition: 01s ease-in-out;
    
}

.home{
    text-align: center;
    color: white;
}

.col div img {
    width: 60%;
    height: auto;
}

.card-text a{
    text-decoration: none;
    color:  #01355D;
    font-weight: 400;

}

.card-text a:hover{
    background-color: #fff;
    color: black;
   
}

